*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(2, 55, 55);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.continar {
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 33px;
    border-radius: 10px;

}

#inp {
    width: 250px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    border-radius: 10px;
    font-size: 19px;
    outline: none;
}

.btn {
    width: 60px;
    height: 39px;
    background-color:  rgb(6, 145, 145);
    color: aliceblue;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
    cursor: pointer;

}

.text ul {
    position: relative;
    background-color: rgb(11, 56, 56);
    color: aliceblue;
    font-size: 19px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px aqua;
    margin: 8px;

}

.text ul i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

